.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  border-radius: 0.5rem;
  width: 120px;
  margin-bottom: 2rem;
}

.lineup {
  animation: 1s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.profile-email {
  font-weight: 700;
}
